$primary: #41A4F5;
$primary-dark: #0A71C6;

$text-dark: #434E5E;
$text-light: #FFFFFF;
$text-secondary: #58677C;

$background-dark: #F7F8FA;
$background-light: #FFFFFF;
$background-footer: #434E5E;

$line: #bdbdbd;

$media-gutter: 250px;
$content-gutter: 150px;

$content-padding: 1.75rem;
$section-padding: 3rem;
