@import "./scheme.scss";

.timeline-horizontal .row {
  margin-top: 35px;
  margin-bottom: 15px;

  border-top: 5px solid #EEE;

  .col-sm-3 {
    margin-top: -13px;

    .start,
    .start-end {
      font-weight: 700;

      padding: 5px 10px;

      color: $background-light;
      border-radius: 5px;
      background-color: $primary;
    }

    .start {
      display: none;
    }

    .details {
      margin-top: 20px;

      .role {
        font-weight: 700;

        margin-bottom: 5px;
      }

      .name {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .timeline-horizontal .row  .col-sm-3 {
    width: 25%;

    .start {
      display: inline;
    }

    .start-end {
      display: none;
    }
  }
}
