@import "./scheme.scss";

.timeline-horizontal .row {
  margin-top: 35px;
  margin-bottom: 15px;

  border-top: 5px solid #EEE;

  .col-md-3,
  .col-sm-6 {
    margin-top: -13px;

    .date {
      font-weight: 700;
      padding: 5px 10px;

      color: $background-light;
      border-radius: 5px;
      background-color: $primary;
    }

    .details {
      margin-top: 20px;

      .role {
        font-weight: 700;

        margin-bottom: 5px;
      }

      .name {
        margin-bottom: 5px;
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  .timeline-horizontal .row {
    border-top: none;
  }

  .col-md-3,
  .col-sm-6 {
    margin-top: 5px !important;
  }
}
