@import "./scheme.scss";

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 15px;
}
