@import "../styles/Scheme.scss";

footer {
  background-color: $background-footer;

  p {
    font-size: 14px;

    margin: 0;
    padding: 15px 0;

    color: $text-light;
  }

  a {
    text-decoration: none;
  }
}
