@import "../styles/Scheme.scss";

.navbar {
  font-size: 14px;

  padding: 8px 16px;

  background-color: $primary-dark;

  .navbar-brand {
    display: contents;

    padding: 0px;

    a {
      display: inline-block;

      width: 36px;
      height: 36px;
      margin-right: 15px;
      padding-top: 3px;

      text-align: center;

      color: $text-light;
      border-radius: 50%;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.2);
      }

      i {
        vertical-align: 0;
      }
    }
  }

  .navbar-nav {
    margin-left: auto;

    a {
      font-weight: 600;

      margin-left: 16px;
      padding: 7px 10px;

      text-transform: uppercase;

      color: rgba(255, 255, 255, 0.6) !important;
    }

    a:hover,
    a:focus,
    .active {
      color: $text-light !important;
    }
  }
}

@media only screen and(max-width: 991px) {
  .navbar {
    .navbar-toggler {
      font-size: 30px;

      padding: 0;

      color: $text-light;
      border-color: transparent !important;
    }

    .navbar-toggler-icon {
      display: none;
    }

    .navbar-collapse {
      padding: 16px 0;
    }

    .navbar-nav a {
      margin: 0;
      padding: 10px 0;
    }
  }
}
