@import "../styles/Scheme.scss";

.page-heading {
  padding: $section-padding 0.5rem;

  color: $text-light;
  background-color: $primary;

  h2 {
    font-size: 32px;
    font-weight: 500;

    margin-bottom: 0;
  }
}
