@import "../scheme.scss";

.page-heading {
  padding: $section-padding 0;

  color: $text-white;
  background-color: $primary;

  h2 {
    font-size: 32px;
    font-weight: 500;

    margin-bottom: 0;
  }
}
