@import "./scheme.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  color: $body-color;
  background: $background;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  margin-top: 52px;
}

@import "~bootstrap/scss/bootstrap";

@media only screen and(max-width: 991px) {
  .container,
  .container-fluid {
    max-width: 100% !important;
  }
}
