@import "./styles/scheme.scss";
@import "~bootstrap/scss/bootstrap";

@import "./styles/page.scss";
@import "./styles/timeline_horizontal.scss";
@import "./styles/timeline_vertical.scss";
@import "./styles/typography.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;

  color: $text-dark;
  background: $background-dark;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  margin-top: 52px;
}

@media only screen and(max-width: 991px) {
  .container,
  .container-fluid {
    max-width: 100% !important;
  }
}
